body{ 
    background-image: url("trees.png");       
    padding-top: 60px;
    padding-bottom: 40px;
}
.container1{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    background-color: #fff ;
    height: 60px;
    top: 0;
}
.fixed-footer{
    border-top: 8px solid #4aaaa5;
    bottom: 0;
    widows: 100%;
}    
nav a{
    float: right;
    color: grey;
    background-color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.container p{
    line-height: 200px; /* Create scrollbar to test positioning */
}
.label {
    top:0;
    height: 60px;
    font-size: 26pt ;
    margin-left: 230px;
    background-color: #4aaaa5;
    float: left;
    padding: 5px;

}



.white-box {
       width: 960px;
        height: 600px; 
        margin-top: 50px; 
        margin-left: auto; 
        margin-right: auto;   
        padding: 20px;
        margin-bottom: 100px;
        
  }

.container {
    background: #f4f5f4;
    height: 600px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
     }

     #image {
         float: left ;
         padding: 10px;
        
        }

     h1 { color:#4aaaa5;
        font-size: 20pt;
        padding: 10px;

     }
p {
    font-size: 16pt;
     color: #777777;
     margin: auto;
     padding: 10px;
     text-align: center;

}
#ptext { font-size: 14pt;
    color: #777777;
    padding: 10px;
    display: block;
    line-height: 2;
    text-align: left;

}